@import "../../../node_modules/bootstrap-4-grid/scss/grid.scss";
@import "../../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css";
@import "../../../node_modules/jquery-ui/themes/base/base.css";

@import '_fonts';
@import '_variables';

@mixin transition {
  transition: all 0.3s ease;
}

@mixin hover() {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1; /* Firefox */
  font-weight: 400;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc;
  font-weight: 400;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ccc;
  font-weight: 400;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'SBSansDisplay', sans-serif;
}
body{
  overflow-x: hidden;
}
.container{  
  @media (max-width: 767px){
    padding-left: 24px;
    padding-right: 24px;
  }
  @media (min-width: 768px){
    padding-left: 8px;
    padding-right: 8px;
  }
  @media (min-width: 1200px){
    max-width: 1160px;
  }
}
.row{
  margin-right: -8px;
  margin-left: -8px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  padding-right: 8px;
  padding-left: 8px;
}
button{
  outline: none;
}
.main-btn{
  display: inline-block;
  background-color: #fff;
  border: 1px solid #EEEEEE;
  border-radius: 24px;
  min-width: 92px;
  padding: 9px 20px;
  font-size: 14px;
  color: #9B9B9B;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  flex-grow: 0;
  @include transition;
  &--center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &:hover, &:focus{
    text-decoration: none;
    color: #000;
    background-color: #EEEEEE;
  }
}
.center {
  text-align: center;
}
.logo{
  display: block;
  width: 75px;
  height: 43px;
}
.img-fluid{
  max-width: 100%;
  height: auto;
}
h1, .h1{
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 20px;
}
.baner-block{
  @media (max-width: 767px){
    padding: 24px 0;
    &__text{
      font-size: 14.1285px;
      line-height: 17px;
      max-width: 210px;
    }
  }
  @media (min-width: 768px){
    padding: 165px 0 31px;
    &__text{
      font-size: 25.4818px;
      line-height: 1.3;
      max-width: 400px;
    }
  }
  .wrap{
    max-width: 1135px;
  }
  .h1, h1{
    max-width: 404px;
    font-size: 48.2945px;
    line-height: 120.3%;    
    background: linear-gradient(90.57deg, #000000 43.36%, #B10BFF 77.71%, #F99603 109.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    @media (max-width: 767px){
      max-width: 224px;
      font-size: 26px;
      margin-bottom: 9px;
      &:after{
        width: 61px;
        height: 61px;
        right: -20px;
        top: -23px;
      }
    }
    @media (max-width: 991px) and (min-width: 768px){
      font-size: 34.29px;
      margin-top: 53px;
    }
    @media (min-width: 768px){     
      margin-bottom: 13px;
      &:after{
        width: 122px;
        height: 122px;
        right: -106px;
        top: -83px;
      }
    }
    @media (min-width: 992px){
       margin-top: 126px;
    }
    &:after{
      content: "";
      display: block;
      
      position: absolute;
      
      background: url(../img/logo-lable.svg) no-repeat center;
      background-size: 100%;
    }
  }   
}
.paralax-block{
  position: relative;
  @media (max-width: 767px){
    margin-bottom: 51px;
    &__img{
      &--first {
          right: 10.5%;
          top: -7%;
          max-width: 168.5px;
      }
      &--second{
        left: -5%;
        top: 37%;
        max-width: 85.5px;
      }
      &--third{
        left: 10%;
        bottom: 7%;
        max-width: 87.5px;
      }
      &--fourth{
        left: 5%;
        top: 9%;
        max-width: 104px;
      }
    }
  }
  @media (max-width: 991px) and (min-width: 768px){
    &__img{
      &--first {
          right: 10.5%;
          top: 10%;
          max-width: 168.5px;
      }
      &--second{
        left: 15%;
        top: 37%;
        max-width: 85.5px;
      }
      &--third{
        left: 24%;
        bottom: 7%;
        max-width: 87.5px;
      }
      &--fourth{
        left: 29%;
        top: 27%;
        max-width: 104px;
      }
    }
  }
  @media (max-width: 1199px) and (min-width: 992px){
    &__img{
      &--first{
        right: 9.5%;
        top: -2%;
        max-width: 300px;
      }
      &--second{
        left: 12%;
        top: 39%;
        max-width: 120px;
      }
      &--third{
        left: 23%;
        bottom: 11%;
        max-width: 150px;
      }
      &--fourth{
        left: 19%;
        top: 11%;
        max-width: 190px;
      }
    }
  }
  @media (min-width: 1200px){
    text-align: right;
    &__img{
      &--first{
        right: 9.5%;
        top: -2%;
      }
      &--second{
        left: 12%;
        top: 39%;
      }
      &--third{
        left: 23%;
        bottom: 11%;
      }
      &--fourth{
        left: 19%;
        top: 11%;
      }
    }
  }
  &__img{
    position: absolute;
  }
}
.category-list{
  padding: 30px 0;
  &__item{
    display: block;
    border-radius: 24px;    
    overflow: hidden;
    position: relative;
    text-decoration: none;
    @include transition;
    @media (max-width: 767px){
      min-height: 165px;
      margin-bottom: 20px;
      padding: 29px 26px;
      img{
        max-height: 132px;
        max-width: 180px;
      }
    }
    @media (min-width: 768px){
      min-height: 220px;
      padding: 26px;
    }
    &--green{
      background-color: #ECFFE6;
    }
    &--blue{
      background-color: #E6FFFD;
    }
    &--pink{
      background-color: #FFF2FF;
    }
    &--orange{
      background-color: #FFFAEA;
    }
    img{
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &:hover, &:focus{
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0,  0.06);
    }
  }
  &__text{
    display: block;
    max-width: 135px;
    font-size: 16px;
    color: #000;
    line-height: 1.2;
  }
}
.baner-block-text{
  @media (max-width: 767px){
    padding-top: 30px;
  }
  @media (min-width: 768px){
    padding-top: 79px;
  }
  &-item{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    /*  margin: 10px 0;*/
    background: #F9F9F9;
    border-radius: 24px;
    min-height: 265px;
    @media (max-width: 767px){
      min-height: 255px;
      font-size: 55px;
      margin-bottom: 20px;
    }
    @media (min-width: 768px){
      min-height: 385px;
      font-size: 80px;
    }
  }
}
.get-today{
  display: inline-block;
  position: relative;
  color: #00C17C;
  z-index: 2;
  font-family: 'GraphikLCG';
  font-weight: 900;
  &:before{
    content:"";
    display: block;
    position: absolute;
    left: -2px;
    right: 2px;
    bottom: 0px;
    height: 6px;
    background-color: rgba(#00C17C, 0.16);
    z-index: -1;
  }
}
.discount{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 32px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: url(../img/discount.svg) no-repeat center;
  background-size: 60px;
}
.price-guarantee{
  position: absolute;
  top: -13px;
  left: -13px;
  background-color: rgba(#FF3A45, 0.3);  
  flex-shrink: 0;
  transform: rotate(-26deg);
  &,&__inner{
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }
  &__inner{
    position: absolute;
    left: 3px;
    top: 3px;
    background-color: #FF3A45;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
    font-size: 7.2px;
  }
}
.price{
  color: #202020;
  font-size: 18px;
  font-weight: bold;
  @media (max-width: 767px){
    font-size: 11.5935px;
  }
  @media (max-width: 1199px) and (min-width: 768px){
    font-size: 14px;
  }
  @media (min-width: 1200px){
    font-size: 18px;
  }
}
.price-old{
  color: #565656;  
  position: relative;
  &:after{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/old-price.svg) no-repeat center;
    background-color: 100%;
  }  
}
.text-price-old{
  color: #9B9B9B;
}
.price-old, .text-price-old, .shop-block__item-title, .count-feedback, .get-today{
  @media (max-width: 767px){
    font-size: 7.729px;
  }
  @media (max-width: 1199px) and (min-width: 768px){
    font-size: 10px;
  }
  @media (min-width: 1200px){
    font-size: 12px;
  }
}
.cashback{
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: #FFDE56;
  padding: 2px 5px;  
  @media (max-width: 767px){
    font-size: 6.44084px;
    &__count{
      img{
        width: 6.2px;
        height: 6.7px;
      }
    }
  }
  @media (min-width: 768px){
    font-size: 10px;
  }
  &__persent{
    background-color: #fff;
    border-radius: 6px;
    padding: 2px 3.5px;
    color: #202020;
    font-size: inherit;
    text-align: center;
  }
  &__count{
    margin-left: 3px;
    display: flex;
    align-items: center;
    img{
      margin-left: 3px;
    }
  }
}
.order-wrap{
  display: flex;
  flex-direction: column;  
  @media (max-width: 767px){
    //align-items: flex-start;
    .shop-block{
      order: 2;
    }
  }
}
.shop-block{  
  @media (max-width: 767px){
    padding: 10px 0;
    &__col{
      width: calc(50% - 16px);
    }
    &__wrap{
      overflow-x: auto;
      padding: 20px 0 0;
    }
    &__img{
      margin-bottom: 15px;
      img{
        max-height: 95px;
      }
    }
  }
  @media (min-width: 768px){
    padding: 104px 0;
    &__col{
      width: calc(20% - 16px);
    }
    &__item{      
      padding: 0 24px;
    }
    &__img{
      margin-bottom: 21px;
    }
  }
  &__wrap{
    margin-left: -8px;
    margin-right: -8px;    
  }
  &__col{
    margin-right: 8px;
    margin-left: 8px;
    flex-shrink: 0;
    margin-bottom: 20px;
  }
  &__item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    a{
      text-decoration: none;
      &:hover, &:focus{
        text-decoration: none;
      }
    }
    >div{
      flex-grow: 1;
    }
    .main-btn{     
      @media (max-width: 767px){
         margin-top: 7px;
         transform: scale(0.7);
      }
      @media (min-width: 768px){
         margin-top: 24px;
      }
    }
  }
  &__wrap-img{
    position: relative;
    .get-today{
      position: absolute;
      bottom: -14px;
    }
  }
  &__img{
    display: block;
    max-width: 167px;
    position: relative;
    text-align: center;
    .discount{
      position: absolute; 
      @media (max-width: 767px){
        transform: rotate(-25.75deg) scale(0.7);
        right: -4px;
        bottom: -2px;
      }
      @media (min-width: 768px){
        transform: rotate(-25.75deg);
        right: 3px;
        bottom: 7px;
      }
    }
  }
  &__price{
    margin-bottom: 5px;
  }
  .price{
    margin-right: 9px;
  }
  &__old-price{    
    @media (max-width: 767px){
      margin-bottom: 6px;
    }
    @media (min-width: 768px){
      margin-bottom: 11px;
    }
    .price-old{
      margin-right: 5px;
    }
  }
  &__item-title{
    color: #202020;
    line-height: 133%;
    margin-bottom: 8px; 
  }
}
.rating-product{
  display: flex;
  div{   
    &:not(:last-child){      
      @media (max-width: 767px){
        margin-right: 1px;
      }
      @media (min-width: 768px){
        margin-right: 5px;
      }
    }
    > svg{
      width: 11px;
      height: 11px;     
      @media (max-width: 767px){
        transform: scale(0.8);
      }
    }
    *{
      fill: #D8D8D8;
    }
  }
  .active{
    svg{
      *{
        fill: #FF9935;
      }
    }
  }
}
.count-feedback{
  margin-left: 8px;
  color: #202020;
}
.owl-prev, .owl-next{
  position: absolute;
  top: calc(50% - 14px);
  display: flex;
  align-items: center;
}
.owl-prev{
  left: 22px;
  transform: rotate(180deg);
}
.owl-next{
  right: 22px;
}
.owl-dots{
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
}
.owl-dot{
  width: 9.1px;
  height: 9.1px;
  margin-left: 2.36px;
  margin-right: 2.36px;
  background-color: #C4C4C4 !important;
  border-radius: 50%;
}
.slider-block{
  margin: 10px 0 30px;
  @media (max-width: 767px){
    margin-top: 23px;
  }
  .baner-block-text-item{
    min-height: 255px;
  }
}